# Port number
PORT=3000

# URL of the Mongo DB
# MONGODB_URL=mongodb+srv://infofaysalspace:fRideshereing@cluster0.9uto7ap.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URL=mongodb://localhost:27017/ecommerce

# encryption for the cardnumber and cvv
ENCRYPTION_KEY=234sfdfsdencryption


NODE_ENV=development
# NODE_ENV=production
# JWT
# JWT secret key
JWT_SECRET=72b6597c9a137bbe5e36862c592e90a5c88652494f37d6da57894888763d49cd
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30000
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30000
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

CONTACT_US_EMAIL=info.faysalspace@gmail.com

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=info.faysalspace@gmail.com
SMTP_PASSWORD=xtpy froe mxxg vsxo
EMAIL_FROM=info.faysalspace@gmail.com

BACKEND_IP=10.10.11.69
# MAIN_BACKEND_IP=your-backend-ip-put-here
# BACKEND_IP=localhost
# When user want to run docker to user 0.0.0.0

# Stripe Secret Key (optional)
STRIPE_SECRET_KEY=your-Stripe-secret
STRIPE_WEBHOOK_SECRET=your-webhook

